<div class="profile-card">
  <img src="https://www.imore.com/sites/imore.com/files/styles/xlarge/public/field/image/2017/11/bad-selfie-close.jpg?itok=vRV1QO4c" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
 
 <p><button>Contact</button></p>
</div>
