<div class="modal fade in" id="following-modal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title"> Following </h4>
		</div>
		<div class="modal-body notifications-body relationships-body">
			<ul>
				<% current_profile.following.each do |following| %>
					<li class="profile-li">
						<div class="profile-item-container">
							<div class="profile-info-container">
								<a href="<%=profile_path(following.id)%>"class="profile-thumb-container">
									<img class="profile-thumb" src="/profile_default.png"></img>
								</a>
								<div class="profile-information-container">
									<div class="profile-information-username">
										<a href="<%=profile_path(following.id)%>"class="username-link"><%=following.username%></a>
									</div>
									<div class="profile-information-name"><%=following.name%></div>
								</div>
								
							</div>
							<div class="follow-btn-container">
								<span class="follow-btn">		
									<button class="following">Following</button>
								</span>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
		</div>
	</div>
</div>
