<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
		<div class="container">
    		<div class="navbar-header">	
      		<a class="navbar-brand pull-left" href=<%=home_path%>>Home</a>
				</div>
				<div class="navbar-header pull-right">
					<div class="pull-right right-nav-buttons">
						<button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-mid-collapse">
      				<span class="sr-only">Toggle navigation</span>
        			<span class="glyphicon glyphicon-search"></span>
      			</button>
						<a id="image-upload-toggle"><button class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#image-upload-modal"></button></a>
      			<a><button class="glyphicon glyphicon-eye-open" href="#"></button></a>
      			<a><button class="glyphicon glyphicon-heart" data-toggle="modal" data-target="#notifications-modal"></button></a>
      		<a href=<%=profile_path(Profile.find_by(username: current_user.username)) %>><button class="glyphicon glyphicon-user"></button></a>
					</div>
				</div>
					<div class="navbar-collapse collapse" id="navbar-mid-collapse">
						<form class="navbar-form" role="Search" style="text-align: center;">
      				<div class="input-group ui-widget">
        				<input type="text" id="main-search" class="form-control" placeholder="Search">
        				<!--<span class="input-group-btn">
          				<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>-->
        				</span>	
      				</div>
    				</form>
					</div>	
		</div>
  </div>
</nav>

<%= render 'shared/notifications' %>
